body {
  background-color: #151515;
  font-family: "Playfair";
  text-align: center;
}

.head {
  color: white;
  font-size: 45px;
  text-shadow: -4px 3px 3px black;
  padding: 30px;
}

.body {
  align: center;
  background-image: url("http://cdn.mhpbooks.com/uploads/2015/06/books.jpg");
  border: solid 5px black;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  padding-bottom: 150px;
  width: 1200px;
}

.body2 {
  background-color: rgba(32, 32, 32, 0.7);
  margin-left: 130px;
  margin-right: 130px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.ranbut {
  background-color: #3C222F;
  border-radius: 15px;
  border-color: black;
  color: #9C8892;
  font-size: 25px;
  margin-bottom: 30px;
  text-shadow: -1px 3px 1px black;
  padding: 9px;
}

.or {
  color: black;
  font-size: 25px;
  margin-bottom: 20px;
}

#input {
  border-color: #343232;
  border-radius: 10px;
  font-size: 18px;
  padding: 5px;
}

.btnGo {
  background-color: #3C222F;
  border-radius: 15px;
  border: solid 1px black;
  color: #9C8892;
  font-size: 20px;
  margin-left: 30px;
  text-shadow: -1px 3px 1px black;
  padding: 9px;
}

.article {
  background-color: rgba(255, 255, 255, 0.9) 
  color: white;
  margin-top: 50px;
}

#text {
  background-color: rgba(255, 255, 255, 0.4);
  color: black;
  font-size: 18px;
  margin: 5px;
  padding: 10px;
  text-align: left;
}